rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /cds/{cdId} {
      allow read, write: if true;
    }
  }
}

